<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav>
    {%- for sitepage in collections.pages -%}
        <a href="{{ sitepage.url }}">{{ sitepage.data.title }}</a>
    {%- endfor -%}
</nav>
      {{ content | safe }}

</body>
</html>